body{
    font-size: 24px;
    background: #649173;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #DBD5A4, #649173);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #DBD5A4, #649173); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    text-align: center;
    font-family: 'Abel', sans-serif;
    color: rgb(83, 112, 30);
    

  }
  
  .row-input{
    width: 35%;
    padding-top: 20px;
    line-height: 2em;
    margin: 5%;
    padding-left: 18%;
   
  }
  
  .row-input input, textarea{
    float: right;
    width: 50%;
    font-size: 24px;
  }

  button{
   color: rgb(102, 15, 15);
    